<div class="container-fluid bg-dark text-white mt-5">
  <footer class="py-5">
    <div class="container">
      <div class="row justify-content-evenly gy-4">
        <div class="col-12 col-sm-6 col-lg-2">
          <h5 class="mb-4">Quick Links</h5>
          <ul class="nav flex-column gap-2">
            <li class="nav-item"><a href="#" class="nav-link p-0 text-white">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link p-0 text-white">Products</a></li>
            <li class="nav-item"><a href="#" class="nav-link p-0 text-white">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link p-0 text-white">About Us</a></li>
          </ul>
        </div>

        <div class="col-12 col-sm-6 col-lg-2">
          <h5 class="mb-4">Customer Service</h5>
          <ul class="nav flex-column gap-2">
            <li class="nav-item"><a href="#" class="nav-link p-0 text-white">Contact Us</a></li>
            <li class="nav-item"><a href="#" class="nav-link p-0 text-white">Returns</a></li>
            <li class="nav-item"><a href="#" class="nav-link p-0 text-white">Shipping</a></li>
            <li class="nav-item"><a href="#" class="nav-link p-0 text-white">Terms of Service</a></li>
            <li class="nav-item"><a href="#" class="nav-link p-0 text-white">Privacy Policy</a></li>
          </ul>
        </div>

        <div class="col-12 col-sm-6 col-lg-2">
          <h5 class="mb-4">Company</h5>
          <ul class="nav flex-column gap-2">
            <li class="nav-item"><a href="#" class="nav-link p-0 text-white">About Us</a></li>
            <li class="nav-item"><a href="#" class="nav-link p-0 text-white">Careers</a></li>
            <li class="nav-item"><a href="#" class="nav-link p-0 text-white">Press</a></li>
            <li class="nav-item"><a href="#" class="nav-link p-0 text-white">Blog</a></li>
            <li class="nav-item"><a href="#" class="nav-link p-0 text-white">Affiliates</a></li>
          </ul>
        </div>

        <div class="col-12 col-sm-6 col-lg-4">
          <h5 class="mb-4">Subscribe to our newsletter</h5>
          <p class="text-white-50 mb-4">Get the latest updates on new products and upcoming sales.</p>
          <form>
            <div class="d-flex flex-column flex-sm-row gap-3">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="email" class="form-control" placeholder="Email address">
              <button class="btn btn-primary px-4" type="button">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center pt-4 mt-5 border-top">
        <p class="mb-3 mb-sm-0">&copy; 2023 HamroKirana, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex gap-4 mb-0">
          <li><a class="text-white" href="#"><i class="fab fa-twitter fa-lg"></i></a></li>
          <li><a class="text-white" href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
          <li><a class="text-white" href="#"><i class="fab fa-facebook fa-lg"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>